
.jello:hover {
    animation-name: jello;
        -webkit-animation-name: jello;
        -moz-animation-name: jello;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    transform-origin: center;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
}

    @keyframes jello {
        from,11.1%,to {transform: translate3d(0, 0, 0);}
        22.2% {transform: skewX(-12.5deg) skewY(-12.5deg);}
        33.3% {transform: skewX(6.25deg) skewY(6.25deg);}
        44.4% {transform: skewX(-3.125deg) skewY(-3.125deg);}
        55.5% {transform: skewX(1.5625deg) skewY(1.5625deg);}
        66.6% {transform: skewX(-0.78125deg) skewY(-0.78125deg);}
        77.7% {transform: skewX(0.390625deg) skewY(0.390625deg);}
        88.8% {transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
    }


.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


  @keyframes text-pop-up-top {
0% {
transform:translateY(0);
transform-origin:50% 50%;
text-shadow:none
}
100% {
transform:translateY(-5px);
transform-origin:50% 50%;
text-shadow:
    0 1px 0 #a09d9d,
    0 2px 0 #a09d9d,
    0 3px 0 #a09d9d,
    0 4px 0 #8a8686,
    0 5px 0 #5f5d5d,
    0 6px 0 #646363,
    0 7px 0 #4d4b4b,
    0 8px 0 #474646,
    0 9px 0 #333232,
    0 50px 30px #a09d9d
    }
}

.slide {
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes slide {
    0% {transform: translateX(0);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0);}
  }

  .flipSide-360{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.flipSide-360:hover{
    transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
}