@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #535252;
}

h1 {
  color: rgb(192, 122, 42);
  font-size: clamp(2rem, 10vw, 5rem)  ;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-family: "Press start 2p";
}

h3 {
  color: rgb(68, 22, 197);
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}



a {
  color: #d6d0d0;
  text-decoration: none;
  text-shadow: 0px 0px 4px #000000;
}

#Indice {
  text-shadow: 2px 2px 2px black;
  color: #a2ff00;
}

#Formulario {
  font-size: 30px;
}

.imagen {
  padding-left: 40%;
}