@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
   background: #ffac12;
}

h1 {
   font-size: 40px;
   text-align: center;
   color: rgb(0, 132, 255);
   font-family: "press start 2p";

}

a{
    text-decoration: none;

}

pre {
    color: #ffac12;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px; ;
}

span {
    color: black;

} 


.indice {
    width: 95%;
    height: 75px;
    background-color:#FF7A00;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

.indice ul {
    list-style-type: none;
    margin-top: 27px;
    margin-right: 5.5%; 
    display: inline-flex;
    
}

.indice a {
    gap: 20px;
    text-shadow: 6px 5px 16px #286FCE;
    color: #2563EB;
    padding: 10px;


}

.indice a:hover {
    background-color: #00D26A;
    padding: 10px;
    border-radius: 10px;
}
