body {
    background-color: #cadc43;
}

div {
    background-color: cornflowerblue;
    height: 100px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
   
}

div a {
    font-style: none;
    margin-left: 5px;
    text-align: center;
}


div ul {
   list-style-type: none;
   display: inline-flex;

}