@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
   background: #ffac12;
}

h1 {
   font-size: 40px;
   text-align: center;
   color: rgb(0, 132, 255);
   font-family: "press start 2p";

}

a{
    text-decoration: none;

}

pre {
    color: #ffac12;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px; ;
}

span {
    color: black;

} 


.indice {
    width: 95%;
    height: 50px;
    background-color:rgb(247, 143, 6) ;
}

.indice ul {
    list-style-type: none;
    text-align: center;
    padding-top: auto;
}

.indice a:hover {
    background-color: cornflowerblue;
}