@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
   background: #ffac12;
}

h1 {
   font-size: clamp(18px, 5vw, 46px);
   line-height: 1.1;
   text-align: center;
   color: rgb(0, 132, 255);
   font-family: "press start 2p";

}

a{
    text-decoration: none;

}

pre {
    color: #ffac12;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px; ;
}

span {
    color: black;

} 


.indice {
    width: 95%;
    height: 75px;
    background-color:#FF7A00;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}

.indice ul {
    list-style-type: none;
    margin-top: 27px;
    margin-right: 5.5%; 
    display: inline-flex;
    
}

.indice ul li {
    position: relative;
}

.indice a {
    gap: 21px;
    text-shadow: 6px 5px 16px #286FCE;
    color: #2563EB;
    padding: 10px;


}



.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #2563EB;
    text-decoration: none;
}

.menu > li:hover > a {
    background-color: #00D26A;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  list-style: none;
  background: #FF7A00;
  padding: 0;
  margin: 0;

  border-radius: 10px;
}

.submenu > li > a {
    padding: 10px 20px;
    color: #2563EB;
    text-decoration: none;
    display: block;
}

.submenu li a {
  display: block;
  padding: 10px 20px;
  color: #2563EB;
}

.menu > li:hover .submenu {
  display: block;
}

.menu li a:hover,
.submenu li a:hover {
  background: #22C55E;
  color: white;
}

.submenu > li:hover > a {
    background-color: #00D26A;
}